*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
}
img {
    display: block;
    max-width: 100%;
}
button {
    cursor: pointer;
}

.pass-test {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pass-test__content {
    height: 100%;
}
.pass-test__btn {
    max-width: 300px;
}
.btn {
    width: 100%;
    padding: 14px 20px;
    font-weight: bold;
    border-radius: 5px;
}
.btn--primary {
    color: #fff;
    background: linear-gradient(180deg, #f492b2 0%, #f65b77 100%);
    box-shadow: 0px 4px 19px #f65d77;
}
.overlay {
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.quiz {
    position: fixed;
    z-index: 40;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 100%;
    height: 682px;
    max-height: 95%;
    overflow: auto;
    background-color: #fff;
}
.quiz__content {

}
.quiz-head {
    padding: 41px 0 34px 43px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f65d77;
}
.quiz-head__logo {
    width: 87px;
    display: block;
}
.quiz-head__hint {
    margin-left: 67px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #595354;
}
.quiz-body {
    padding: 60px 0 47px 64px;
}
.form__fieldset {
    padding: 0;
}
.form__wrap {
    display: flex;
    flex-wrap: wrap;
}
.form__title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 27px;
    color: #000;
}
.form__label-radio {
    margin-right: 42px;
    cursor: pointer;
    border-radius: 5px;
    max-width: 240px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.25);
}
.form__label-radio:last-child {
    margin-right: 0;
}
.form__label-radio.active-radio {
    box-shadow: 0 4px 17px #f65d77;
}
.form__radio {
    display: none;
}
.form__img {
    width: 100%;
    height: 247px;
    overflow: hidden;
}
.form__answer {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #595354;
    text-align: center;
    width: 100%;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-btn__indent {
    margin-top: 50px;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.form-btn__next {
    max-width: 171px;
    display: block;
    margin-right: 375px;
    text-align: left;
    padding-left: 35px;
    position: relative;
}
.form-btn__next:after {
    content: '';
    background: url(../img/arrow.svg) no-repeat;
    position: absolute;
    top: 19px;
    right: 30px;
    width: 35px;
    height: 8px;
}
.form__fieldset:nth-child(1) .form-btn__next {
    margin-left: auto;
}
.quiz-position {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 316px;
    width: 100%;
    max-height: 100%;
}
.quiz-position__bg {
    background: url(../img/quiz-bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 682px;
}
.quiz-position__percent {
    margin-bottom: 85px;
    text-align: center;
    font-weight: bold;
    font-size: 73px;
    line-height: 99px;
    text-align: center;
    color: #F492B2;
;
}
.quiz-position__on {
    display: block;
    padding: 67px 0 20px;
    font-size: 16px;
    line-height: 22px;
    color: #595354;
    text-align: center;
}
.quiz-position__find-out {
    display: block;
    max-width: 210px;
    margin: 0 auto 70px;
    font-family: 'Nautilus Pompilius', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 29px;
    line-height: 121.3%;
    text-align: center;
    color: #595354;
}
.quiz-position__img {
    background: url(../img/gift.png) no-repeat;
    max-width: 286px;
    height: 188px;
}
.form__column {
    max-width: 409px;
}
.form__group {
    margin-bottom: 20px;
    padding: 14px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    cursor: pointer;
}
.form__group.active-checbox {
    border: 1px solid #f492b2;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}
.form__input {
    display: none;
}
.form__label-checkbox {
    line-height: 22px;
    color: 595354;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.form__label-checkbox:before {
    content: '';
    width: 30px;
    height: 30px;
    margin-right: 15px;
    background: #fff;
    border: 1px solid #595354;
    border-radius: 5px;
}
.form__input:checked + .form__label-checkbox:before {
    border-color: #f492b2;
}
.form__input:checked + .form__label-checkbox:after {
    content: '';
    background: url(../img/checked.svg) no-repeat;
    width: 36px;
    height: 36px;
    position: absolute;
    top: -3px;
    left: 0;
}
.form__column + .form-btn__indent {
    margin-top: 130px;
}
.form-btn__prev {
    width: 48px;
    height: 48px;
    margin-right: 27px;
    margin-left: auto;
    background: url(../img/arrow-prev.svg) center no-repeat;
    border-radius: 50%;
    border: 1px solid #f492b2;
}
