@font-face {
    font-family: 'Nautilus Pompilius';
    src: local('Nautilus Pompilius'), local('NautilusPompilius'),
        url('NautilusPompilius.woff2') format('woff2'),
        url('NautilusPompilius.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

